<div class="container justify-content-center py-5">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-7 py-7">
      <h3 [style.color]='propertyBinding'>{{interpolationBinding}}</h3>
      <form>
        <div class="form-group col-sm-12 col-md-6 col-lg-7 py-7">
          <label for="nombre" class="form-label">{{newNombre.title}}</label>
          <input type="name" class="form-control" id="nombre" placeholder="Nombre" name="nombre" required="required" [(ngModel)]="newNombre.name">
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-7 py-7">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="lastname" class="form-control" id="apellido" name="apellido" placeholder="Apellido" [(ngModel)]="newNombre.apellido">
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-7 py-7">
          <label for="exampleInputEmail1">{{newEmail.title}}</label>
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail1"
                 name="exampleInputEmail1"
                 aria-describedby="emailHelp"
                 placeholder="correo@correo.com"
                 [(ngModel)]="newEmail.email"
                 #mail>
        </div>
        <div class="form-group col-sm-12 col-md-7 col-lg-7 py-7">
          <label for="exampleInputEmail2">Comprobar Email</label>
          <input disabled type="email"
                 class="form-control"
                 id="exampleInputEmail2"
                 name="exampleInputEmail2"
                 aria-describedby="emailHelp"
                 [(ngModel)]="newEmail.email"></div>
        <div class="form-group">
          <label for="inputMensaje" class="form-label">Mensaje</label>
          <textarea class="form-control" id="inputMensaje" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="membership" class="form-label">Escoger Membresía</label>
          <select class="form-control" id="membership">
            <option>(Seleccionar)</option>
            <option>Oro (anual)</option>
            <option>Plata (semestral)</option>
            <option>Bronce (mensual)</option>
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary py-2 float-right" (click)="enviar($event)" (click)="enviarDatos(mail.value)">Enviar</button>
        <div>
          <h3 class="col-6" [ngClass]="oculto ? 'hidden' : 'green'">Gracias {{newNombre.name}} {{newNombre.apellido}}</h3>
        </div>
      </form>
    </div>
  </div>
</div>
